*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background:url(bonhtml.jpg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
header{
	border: 1px solid black;
	width: auto;
	height:auto;


}
ul{
	display: inline-block;
}
li{
	
	width: 175px;
}
ul li a{
	color: black;
	text-decoration: none;
}
img{
	width:200px;
	height:200px;
}
form{
	width:280px;
	height: auto;
	margin: 20% auto;
	padding: 20px;
	align-items: center;
	text-align: center;
	background-color:rgb(255,0,255,0.3); 
	border-radius: 15px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}
input{
	background-color: white;
	border-radius: 10px;
	line-height: 25px;
	margin-top: 20px;
	padding-left: 5px;
	border: none;
	width: 100px;
	transition:2s;
}
input:focus{
	width: 150px;
	color:black;
	background-color: transparent;
	transition: 2s;
	font-weight: bold;
}
form button {
	margin-top: 20px;
}