body{
	background:url(bonhtml.jpg.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
header{
	border: 1px solid black;
	width: auto;
	height:auto;


}
ul{
	display: inline-block;
}
li{
	
	width: 175px;
}
img{
	width:200px;
	height:200px;
}